{{#each this}}
<a class="gallery__link" href={{largeImageURL}}>
	<div class="gallery-item" id={{id}}>
		<img class="gallery-item__img" src={{webformatURL}} alt={{tags}} loading="lazy" />
		<div class="info">
			<p class="info-item"><b>Likes</b>{{this.likes}}</p>
			<p class="info-item"><b>Views</b>{{this.views}}</p>
			<p class="info-item"><b>Comments</b>{{this.comments}}</p>
			<p class="info-item"><b>Downloads</b>{{this.downloads}}</p>
		</div>
	</div>
</a>
{{/each}}